@font-face {
    font-family:"BYekan" ;
    src: url("../font/BYekan-webfont.ttf") format("truetype"),
    url("../font/BYekan-webfont.woff") format("woff"),
    url("../font/BYekan-webfont.eot") format("eot");
    font-weight: normal;
    font-style: normal;
 
}



*{
  /*  direction: rtl;
    font-family: "BYekan";*/
}

@media(min-width:600px){
    #top-navbar{
    box-shadow: 0 0 50px gray !important;
    
}
#top-actions-section{
    display: flex;
    align-items: center;
}
}

.users-list-item.active #users-list-arrow-icon{
    transform: rotate(180deg);
}
.users-list-item.active,.users-list-item.active .collapsible-header{
    background-color: rgb(236, 234, 234);
}
table.highlight > tbody > tr:hover{
    background-color:#64b5f6;
}
.container{
    width: 100% !important;
}
.add_user_modal_back{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 999;
}
.add_user_modal{
    position: fixed;
    height: 70vh;
    background-color: white;
    z-index: 1000;
    left: 0;
   bottom: 0;
    right: 0;
   bottom: -70vh;
   
}
.add_user_modal.show{
    bottom: 0;
    box-shadow: 0 0 10px blue;
}
.user-list-section{
    height: calc(100vh - 258px);
    overflow: auto;
}

